.gallery__container {
  padding-top: 181px;
  padding-bottom: 393px;

  @media screen and (min-width:768px) {
    padding-top: 218px;
    padding-bottom: 384px;
      }  

  @media screen and (min-width:1200px) {
    padding-top: 452px;
    padding-bottom: 196px;
      }

  position: relative;
  background-image:  url(../images/gallery/background/background-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
 
    @media screen and (min-device-pixel-ratio: 2),
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
  
      background-image: url(../images/gallery/background/background-mobile@2x.jpg);
        }

    @media screen and (min-width: 768px) {
    background-image: url(../images/gallery/background/background-tab.png);
      
    @media screen and (min-device-pixel-ratio: 2),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      
        background-image: url(../images/gallery/background/background-tab@2x.png)
          }
  }
      
    @media screen and (min-width: 1200px) {
      background-image: url(../images/gallery/background/background-des.png);
              
    @media screen and (min-device-pixel-ratio: 2),
        screen and (-webkit-min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
      
          background-image: url(../images/gallery/background/background-des@2x.png);
            }  
  }
}

// --Foto ice--
.gallery__ice {
  position: absolute;
  top: -24px;
  left: 50%;
  display: block;
  width: 100%;
  height: auto;
  transform: translateX(-50%);

  @media screen and (min-width:768px) {
    top: -164px;
      }

  @media screen and (min-width:1200px) {
    top: -94px;
      }
}

// --Foto woman--
.gallery__woman {
  display: block;
  width: 100%;
  height: auto;
}

.gallery__woman-indent {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 32px;
}

// --Block comments--
.gallery__comments {
  max-width: 100%;
  padding: 34px 39px;
  border-radius: 10px;
  
  background-color: var(--primary-background-color);

  @media screen and (min-width:768px) {
    padding: 29px 80px 28px;
      }
  
  @media screen and (min-width:1200px) {
    padding: 39px 109px 47px;
      }
}

.gallery__comments-indent {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;

  @media screen and (min-width:768px) {
      margin-bottom: 32px;
        }
}
.gallery__text {
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 255%;
  letter-spacing: 0.04em;
  
  color: var(--primary-text-color);

  @media screen and (min-width:768px) {
    font-weight: 500;
    font-size: 14px;
    line-height: 186%;
      }
  
  @media screen and (min-width:1200px) {
    font-size: 16px;
      }
}

// --Text--
.gallery__text-name {
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 186%;

  color: var(--secondary-text-color);

  @media screen and (min-width:768px) {
    font-size: 16px;
      }
}

.gallery__text-indent {
  margin-bottom: 14px;

  @media screen and (min-width:768px) {
    margin-bottom: 32px;
        }
}

// --Cicles--
.gallery__cicles {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery__cicles--green {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: none;
  
  background-color: var(--primary-background-color);
}

.gallery__cicles--grey {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: none;

  background-color: var(--third-background-color);
}

.cicles-indent {
  &:not(:last-child) {
    margin-right: 18px;
  }
}