<!-- ===ADVANTAGES== -->
<section class="advantages">
    <div class="container advantages__container">
     <h2 class="hidden">advantages</h2>
         <ul class="advantages__list list">
             <li class="advantages__item">
                 <p class="advantages__text-cow rotate-y">721</p>
                 <p class="advantages__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
             </li>
             <li class="advantages__item">
                 <p class="advantages__text-weight">16kg</p>
                 <p class="advantages__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
             </li>
             <li class="advantages__item">
                 <p class="advantages__text-icecream">84</p>
                 <p class="advantages__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
             </li>
         </ul>
    </div>
 </section>