<!--CONTACTS-->
<section class="contacts">
    <div class="ice-bg contacts__container">
        <h2 hidden>Contacts</h2>
        <ul class="list contacts__block-list">
            <!--BLOCK 1-->
            <li class="contacts__block-item" id="contacts">
                <div class="contacts__block-container">
                    <p class="contacts__block-title-cafe">cafe</p>
                    <address>
                        <ul class="list contacts__list-address contacts__list">
                            <li class="contacts__item-address">
                                <p class="contacts__text">Chicago</p>
                            </li>
                            <li>
                                <a class="link contacts__text contacts__text-address"
                                    href="https://goo.gl/maps/N2uzEq9135QJNj6H6">10340 Ridgeland Ave, Chicago Ridge, IL
                                    60415, USA</a>
                            </li>
                        </ul>
                        <ul class="list contacts__list-time contacts__list">
                            <li class="contacts__item-time">
                                <p class="contacts__text">Monday - Friday</p>
                                <p class="contacts__text contacts__text-time">06:00 AM - 10:00 PM</p>
                            </li>
                            <li>
                                <p class="contacts__text">Saturday - Sunday</p>
                                <p class="contacts__text contacts__text-time">08:00 AM - 16:00 PM</p>
                            </li>
                        </ul>
                        <a class="link contacts__text" href="tel:+610383766284">+61(0) 383 766 284</a>
                        <a class="link contacts__text" href="mailto:noreply@envato.com">noreply@envato.com</a>
                    </address>
                </div>
            </li>
            <!--BLOCK 2-->
            <li class="contacts__block-item">
                <div class="contacts__block-container">
                    <p class="contacts__block-title-truck">FOOD TRUCK</p>
                    <address>
                        <ul class="list contacts__list-address contacts__list">
                            <li class="contacts__item-address">
                                <p class="contacts__text">Los Angeles</p>
                            </li>
                            <li>
                                <a class="link contacts__text contacts__text-address"
                                    href="https://goo.gl/maps/qzGDPbiWvBaihWRj7">1003 Manhattan Ave, Manhattan Beach, CA
                                    90263, USA</a>
                            </li>
                        </ul>
                        <ul class="list contacts__list-time contacts__list">
                            <li class="contacts__item-time">
                                <p class="contacts__text">Monday - Friday</p>
                                <p class="contacts__text contacts__text-time">06:00 AM - 10:00 PM</p>
                            </li>
                            <li>
                                <p class="contacts__text">Saturday - Sunday</p>
                                <p class="contacts__text contacts__text-time">08:00 AM - 16:00 PM</p>
                            </li>
                        </ul>
                        <a class="link contacts__text" href="tel:+610383766284">+61(0) 383 766 284</a>
                        <a class="link contacts__text" href="mailto:noreply@envato.com">noreply@envato.com</a>
                    </address>
                </div>
            </li>
            <!--BLOCK 3-->
            <li class="contacts__block-item">
                <div class="contacts__block-container">
                    <p class="contacts__block-title-cafe">CAFE</p>
                    <address>
                        <ul class="list contacts__list-address contacts__list">
                            <li class="contacts__item-address">
                                <p class="contacts__text">New York</p>
                            </li>
                            <li>
                                <a class="link contacts__text contacts__text-address"
                                    href="https://goo.gl/maps/DqnAskzg8SVBD3bd8">726 Sterling Pl, Brooklyn, NY 11222,
                                    USA</a>
                            </li>
                        </ul>
                        <ul class="list contacts__list-time contacts__list">
                            <li class="contacts__item-time">
                                <p class="contacts__text">Monday - Friday</p>
                                <p class="contacts__text contacts__text-time">06:00 AM - 10:00 PM</p>
                            </li>
                            <li>
                                <p class="contacts__text">Saturday - Sunday</p>
                                <p class="contacts__text contacts__text-time">08:00 AM - 16:00 PM</p>
                            </li>
                        </ul>
                        <a class="link contacts__text" href="tel:+610383766284">+61(0) 383 766 284</a>
                        <a class="link contacts__text" href="mailto:noreply@envato.com">noreply@envato.com</a>
                    </address>
                </div>
            </li>
        </ul>
    </div>
    <ul class="list contacts__list-button">
        <li>
            <button type="button" class="locations-button">Our Locations
                <svg class="button-icon" width="12" height="12">
                    <use href="./images/sprite.svg#icon-Frame-button"></use>
                </svg>
            </button>
        </li>
        <li>
            <button type="button" class="franchise-button">Franchise
                <svg class="button-icon" width="12" height="12">
                    <use href="./images/sprite.svg#icon-Frame-button"></use>
                </svg>
            </button>
        </li>
    </ul>
</section>