<footer class="footer">
    <div class="ice-bg footer__container">
        <ul class="list footer__list">
            <li>
                <div>
                    <ul class="list">
                        <li>
                            <p class="footer__text-small">homemade ice cream made</p>
                        </li>
                        <li>
                            <p class="footer__text-big">with passion</p>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <div>
                    <ul class="list footer__list-social">
                        <li class="footer__item-social position-git">
                            <a href="" class="footer__link-social"><svg class="footer__icon-social" width="20"
                                    height="20">
                                    <use href="./images/sprite.svg#git"></use>
                                </svg></a>
                        </li>
                        <li class="footer__item-social position-telegram">
                            <a href="" class="footer__link-social"><svg class="footer__icon-social" width="21"
                                    height="15">
                                    <use href="./images/sprite.svg#telegram"></use>
                                </svg></a>
                        </li>
                        <li class="footer__item-social position-facebook">
                            <a href="" class="footer__link-social"><svg class="footer__icon-social" width="10"
                                    height="20">
                                    <use href="./images/sprite.svg#facebook"></use>
                                </svg></a>
                        </li>
                    </ul>
                    <div class="footer__block-tel">
                        <a href="tel:+610383766284" class="link footer__link-tel"><span
                                class="footer__link-tel-span">Feel free to contact </span>+61 (0) 383 766 284</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="footer__block-copywrite">
        <p class="footer__text-copywrite">© 2022 - IceCream. All Rights Reserved.</p>
    </div>
</footer>