<!-- Section Gallery -->
<section class="gallery" id="galary">
  <div class="container gallery__container">
    <h2 class="gallery-title hidden">Gallery</h2>

    <!-- Image ice -->
    <picture class="gallery__ice">
      <source srcset="./images/gallery/ice/ice-mob.png 1x, ./images/gallery/ice/ice-mob@2x.png 2x"
        media="(max-width: 767px)" type="image/png" />
      <source srcset="./images/gallery/ice/ice-tab.png 1x, ./images/gallery/ice/ice-tab@2x.png 2x"
        media="(max-width: 1199px)" type="image/png" />
      <source srcset="./images/gallery/ice/ice-des.png 1x, ./images/gallery/ice/ice-des@2x.png 2x"
        media="(min-width: 1200px)" type="image/png" />
      <img src="./images/gallery/ice/ice-mob.png" alt="Ice" />
    </picture>

    <!-- Image woman -->
    <picture class="gallery__woman gallery__woman-indent">
      <source srcset="./images/gallery/woman/woman-mob.png 1x, ./images/gallery/woman/woman-mob@2x.png 2x"
        media="(max-width: 767px)" type="image/png" />
      <source srcset="./images/gallery/woman/woman-tab.png 1x, ./images/gallery/woman/woman-tab@2x.png 2x"
        media="(max-width: 1199px)" type="image/png" />
      <source srcset="images/gallery/woman/woman-des.png 1x, ./images/gallery/woman/woman-des@2x.png 2x"
        media="(min-width: 1200px)" type="image/png" />
      <img src="./images/gallery/woman/woman-des.png" alt="Woman" />
    </picture>

    <!-- Block comments -->
    <div class="gallery__comments gallery__comments-indent">
      <p class="gallery__text">I love visiting your cafe. You prepare the most delicious ice cream in Los Angeles! In
        addition, you have beautiful
        serving, cozy atmosphere and polite staff.
      </p>
    </div>

    <!-- Text -->
    <p class="gallery__text-name gallery__text-indent">Emily, Los Angeles</p>

    <!-- Cicles -->
    <div class="gallery__cicles">
      <div class="gallery__cicles--green cicles-indent"></div>
      <div class="gallery__cicles--grey cicles-indent"></div>
      <div class="gallery__cicles--grey cicles-indent"></div>
    </div>
  </div>
</section>